<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p para>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptates assumenda, iste laborum, doloribus facere voluptate omnis eum vitae fugiat rerum nostrum sed cum. Dolore aliquid neque vero quos veritatis?
            </p>
            
        </div>
        <div class="col-md-12" appThirdDirective>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptates assumenda, iste laborum, doloribus facere voluptate omnis eum vitae fugiat rerum nostrum sed cum. Dolore aliquid neque vero quos veritatis?
            </p>
            
        </div>
        <div class="col-md-12" >
            <p example>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptates assumenda, iste laborum, doloribus facere voluptate omnis eum vitae fugiat rerum nostrum sed cum. Dolore aliquid neque vero quos veritatis?
            </p>
            
        </div>
        <div class="col-md-12" para>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis voluptates assumenda, iste laborum, doloribus facere voluptate omnis eum vitae fugiat rerum nostrum sed cum. Dolore aliquid neque vero quos veritatis?
            </p>
            
        </div>
    </div>
</div>